.br {
  background-image: url("../images/bRk.png");
}
.bb {
  background-image: url("../images/bBp.png");
}
.bn {
  background-image: url("../images/bKt.png");
}
.bq {
  background-image: url("../images/bQn.png");
}
.bk {
  background-image: url("../images/bKg.png");
}
.bp {
  background-image: url("../images/bpawn.png");
}
.wr {
  background-image: url("../images/wRk.png");
}
.wb {
  background-image: url("../images/wBp.png");
}
.wn {
  background-image: url("../images/wKt.png");
}
.wq {
  background-image: url("../images/wQn.png");
}
.wk {
  background-image: url("../images/wKg.png");
}
.wp {
  background-image: url("../images/wpawn.png");
}