.bR {
    background-image: url("../images/bRk.png");
  }
  .bB {
    background-image: url("../images/bBp.png");
  }
  .bN {
    background-image: url("../images/bKt.png");
  }
  .bQ {
    background-image: url("../images/bQn.png");
  }
  .bK {
    background-image: url("../images/bKg.png");
  }
  .bP {
    background-image: url("../images/bpawn.png");
  }
  .wR {
    background-image: url("../images/wRk.png");
  }
  .wB {
    background-image: url("../images/wBp.png");
  }
  .wN {
    background-image: url("../images/wKt.png");
  }
  .wQ {
    background-image: url("../images/wQn.png");
  }
  .wK {
    background-image: url("../images/wKg.png");
  }
  .wP {
    background-image: url("../images/wpawn.png");
  }