.piece,.hint,.hint-capture {
  width: 12.5%;
  height: 12.5%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.chess-board {
  background-image: url("../images/board_img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  
  margin: auto;
  margin-top: 100px;
}
.hint,.hint-capture {
  
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: border-box;
}
.hint{
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4.2%;
}
.hint-capture{
  border: 5px solid rgba(0,0,0,.1);
  border-width: 17px;
}
.bRk {
  background-image: url("../images/bRk.png");
}
.bBp {
  background-image: url("../images/bBp.png");
}
.bKt {
  background-image: url("../images/bKt.png");
}
.bQn {
  background-image: url("../images/bQn.png");
}
.bKg {
  background-image: url("../images/bKg.png");
}
.bPn {
  background-image: url("../images/bpawn.png");
}
.wRk {
  background-image: url("../images/wRk.png");
}
.wBp {
  background-image: url("../images/wBp.png");
}
.wKt {
  background-image: url("../images/wKt.png");
}
.wQn {
  background-image: url("../images/wQn.png");
}
.wKg {
  background-image: url("../images/wKg.png");
}
.wPn {
  background-image: url("../images/wpawn.png");
}
