.piece,
.hint,
.hint-capture,
.highlight {
  width: 12.5%;
  height: 12.5%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.chess-board {
  background-image: url("../images/board_img.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  margin: auto;
  margin-top: 100px;
}
.hint,
.hint-capture {
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: border-box;
}
.hint {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4.2%;
}
.hint-capture {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-width: 17px;
}
.highlight {
  background-color: rgb(255, 255, 51, 0.5);
}
.bR {
  background-image: url("../images/bRk.png");
}
.bB {
  background-image: url("../images/bBp.png");
}
.bN {
  background-image: url("../images/bKt.png");
}
.bQ {
  background-image: url("../images/bQn.png");
}
.bK {
  background-image: url("../images/bKg.png");
}
.bP {
  background-image: url("../images/bpawn.png");
}
.wR {
  background-image: url("../images/wRk.png");
}
.wB {
  background-image: url("../images/wBp.png");
}
.wN {
  background-image: url("../images/wKt.png");
}
.wQ {
  background-image: url("../images/wQn.png");
}
.wK {
  background-image: url("../images/wKg.png");
}
.wP {
  background-image: url("../images/wpawn.png");
}
